* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  max-width: 20rem;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  height: 100%;
  width: 100%;
  padding-top: 50px;
  max-width: 1200px;
}

.cocktails-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  padding: 40px 0;
}
